*, *:before, *:after {
  /*-webkit-box-sizing: border-box;*/
  /*-moz-box-sizing: border-box;*/
  /*box-sizing: border-box;*/
}
.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
.resizable {
  position: relative;
  overflow: hidden;
  background: white;
}

.resizer {
  position:absolute;
  right:0;
  bottom:0;
  cursor:se-resize;
  margin:5px;
  border-bottom: solid 2px white;
  border-right: solid 2px white;
}