input[type="radio"]:checked:before {
  content: "";
  display: block;
  position: relative;
  top: 0.15rem;
  left: 0.15rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: rgb(53, 42, 59);
}

.settings {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 100%;
  color: rgb(251, 242, 235);
  z-index: 1;
}

.changeTypeElements,
.changeAmountElements {
  display: grid;
  flex-direction: column;
  margin: 1rem;
  padding: 0.7rem;
  box-shadow: 0 0 10px 5px rgba(53, 42, 59, 1);
}

@media (max-width: 900px) {
  .changeAmountElements {
    display: none;
  }
}
